[submodule "dafny"]
	path = dafny/dafny
	url = https://github.com/dafny-lang/dafny.git
[submodule "viper/viperserver"]
	path = viper/viperserver
	url = https://github.com/viperproject/viperserver.git
[submodule "viper/viper_client"]
	path = viper/viper_client
	url = https://github.com/viperproject/viper_client.git
[submodule "fstar/fstar"]
	path = fstar/fstar
	url = https://github.com/FStarLang/FStar.git
[submodule "verus/verus"]
	path = verus/verus
	url = https://github.com/verus-lang/verus.git
